<h2><%=  @subscription.message %></h2>
<h3>Процент доставки: <%= Subscription.confirmation_percent %> %</h3>
<ul>
  <% @users.each do |user|
      if user.confirm?
  %>
      <li><p class="confirmed-user"><%= user.email %></p></li>
    <% else %>
      <li><p style="color: red;"><%= user.email %></p></li>
    <% end %>
  <% end %>
</ul>